@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    overflow-y: visible;
}

.logo img{
    position: absolute;
    height: 330px;
    width: 330px;
    left: 247px;
    top: 166px;
}

.top{
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 4.5rem;
    font-weight: bolder;
    position: absolute;
    left: 890px;
    top: 80px;
    display: inline-block;
    transform: scale(1.1,0.9);
}

.mid{
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 2.1rem;
    font-weight: bolder;
    position: absolute;
    left: 870px;
    top: 210px;
    display: inline-block;
    transform: scale(1.1,0.9);
}

.section{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    top: 285px;
    left: 865px;
    width: 300px;
}

.section .google{
    background-color: white;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: none;
    margin-bottom: 8px;
    color: black;
    font-size: 0.9rem;
    padding-bottom: 10px;
    font-weight: bold;
}

.section .google img{
    position: relative;
    display: inline-block;
    height: 24px;
    width: 24px;
    left: -6px;
    top: 7px;
}

.section .apple{
    background-color: white;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: none;
    margin-bottom: 8px;
    color: black;
    font-size: 0.9rem;
    padding-bottom: 10px;
    font-weight: bold;
}

.section .apple img{
    position: relative;
    display: inline-block;
    height: 24px;
    width: 24px;
    left: -6px;
    top: 7px;
}

hr{
    margin-top: 10px;
    width: 100%;
    height: 0.1px;
    background-color: rgb(37, 37, 37);
    border: none;
}

.or{
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
    background-color: black;
    padding: 0px 10px;
    top: -10px;
}

.section .signup{
    background-color: #1d9bf0;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: none;
    margin-bottom: 8px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.tos{
    position: relative;
    font-family: 'DM Sans', sans-serif;
    width: 325px;
    font-size: 0.7rem;
    color: grey;
    transform: scale(0.9, 1);
}

.tos a{
    color: #1d9bf0;
    text-decoration: none;
}

.tos a:hover{
    text-decoration: underline;
    color: #1d9bf0;
}

.already{
    font-family: 'DM Sans', sans-serif;
    margin-top: 55px;
    font-size: 1.1rem;
    margin-right: 75px;
    font-weight: bold;
}

.signin{
    background-color: black;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid grey;
    color: #1d9bf0;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}

.google:hover, .apple:hover{
    cursor: pointer;
    background-color: rgb(236, 236, 236);
}

.signup:hover{
    cursor: pointer;
    background-color: #178ddb;
}

.signin:hover{
    cursor: pointer;
    background-color: rgb(36, 139, 208, 0.1);
}

.footer{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0px 55px;
    gap: 8px 13px;
    top: 680px;
}

.footer a, span{
    margin: 0;
    padding: 0;
    color: rgb(96, 96, 96);
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8rem;
}

.footer a:hover{
    text-decoration: underline;
    color: rgb(96, 96, 96);
}